* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
    background-color: #fff;
}
a{
	color: #1C2C40;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 400;
}.wrapper{
    max-width: 80%;
    margin: auto;
}

section.banner #main_header {
   text-transform: capitalize;
    border:1px solid #fff;
    background-color: rgba(245,245,245,0.4);
    color: #807f7d;
}
section.banner #main_header div.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.banner #main_header div.content div.left{
    padding: 0;
    font-size: 18px;
    font-weight: 500;
}
section.banner #main_header div.content div.middle ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section.banner #main_header div.content div.middle ul li{
    padding: 40px;
}
section.banner #main_header div.content div.middle ul li a{
    padding: 20px 30px;
    border-radius: 0px;
    color: #807f7d;    
    font-size: 18px;
    font-weight: 500;
}
section.banner #main_header div.content div.middle ul li a:hover{
    background-color: rgba(6, 162, 194, 1.0);
    color: #fff;   
    transition: 1s;
}
section.banner #main_header div.content div.middle ul li:nth-child(2){
    
}
section.banner {
    background-image: url(images/office.jpg);
    background-position: center right;
    background-size: cover;
    
}
section.banner div.wrapper {
    text-align: left;
    display: flex;
    margin-right: 0;
    align-items: center;
    justify-content: space-between;
  
}
section.banner div.left{
    width: 400px;
    padding-top: 50px;
   
}
section.banner div.left div.content{
    color: #fff;
    padding: 30px 0;
    padding-right: 20px;
    background-color: rgba(63,63,52, .4);
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
    padding: 50px;
    text-align: left;
    margin-bottom: 100px;
}
section.banner div.left div.content h3{
    text-align: center;
    padding: 10px 0;
}

section.banner div.right img{
    display: block;
    width: 100%;
}

#services{
    
    text-align: center;
}
#services div.head h2{
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 35px;
}

#services div.head p{
    width: 60%;
    margin: 0 auto;
}
#services div.main-service{
    width: 60%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;

}
#services div.main-service h2{
    padding: 10px;
  border-bottom: 1px solid black;
}
#services div.main-service h2 a{
    
}
#services div.main-service h2.one{
    border-right: 2px solid black;
    margin-left: 10%;
    border-bottom: none;

}
#services div.cards{
    max-width: ;

}
#services div.cards ul{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-wrap: wrap;
     justify-content: space-around;
     text-transform: capitalize;
}
#services div.cards  ul li{
    margin: 0 20px;
    width: 30%;
}
#services div.cards ul li div.service-card{
    padding: 50px 0;   
}
#services div.cards  ul li div.service-card div.image{
    width: 100%;
    height: 200px;
    background-color: red;
    margin-bottom: 40px;

}
#services div.cards  ul li div.service-card div.image.one{
    background-image: url(https://brightcove04pmdo-a.akamaihd.net/1066292269001/1066292269001_6052353471001_6018124415001-vs.jpg?pubId=1066292269001&videoId=6018124415001);
    background-size: cover;
    background-position:center;
}
#services div.cards  ul li div.service-card div.image.two{
    background-image: url(https://www.ledgerinsights.com/wp-content/uploads/2019/09/company-registration.jpg);
    background-size: cover;
    background-position:center;
}
#services div.cards  ul li div.service-card div.image.three{
    background-image: url(https://blog.ipleaders.in/wp-content/uploads/2020/11/bookkeeping-vs-accounting-Final.jpg);
    background-size: cover;
    background-position:center;
}
#services div.cards  ul li div.service-card div.image.four{
    background-image: url(https://www.globalsign.com/application/files/3515/8885/5116/electronic_signature_vs_digital_signature.jpg);
    background-size: cover;
    background-position:center;
}
#services div.cards  ul li div.service-card div.image.five{
    background-image: url(https://www.fujifilm.com/fbca/-/media/0,-d-,-Global-Assets/Solutions-and-Services/Cost-Control/Cost-Management_web.jpg?h=339&w=509&la=en&hash=D34134ADBA4EC579DF5FC7D870477B2EEE6572A0);
    background-size: cover;
    background-position:center;
}
#services div.cards  ul li div.service-card div.image img{
    width: 100%;
    display: block;
}
#services div.cards  ul li div.service-card h3{
    border-top: 1px solid black;
    padding-top:10px ;
}
section.works{
    display: flex;
    justify-content: space-between;
    background-color: rgb(43, 71, 66);
}
section.works div.container1{
    width: 75%;
}
section.works div.container1 div.items{
    display: flex;
    padding-bottom: 200px;
}
section.works div.container1 h3{
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    padding: 0 50px;
    padding-top: 50px;
    text-transform: capitalize;

}
section.works div.container1 div.items div.content{
    width: 33.33%;
    color: #fff;
    padding: 30px 50px;
}
section.works div.content-img{
    background-image: url(https://static.wixstatic.com/media/bc018e_6a9c3b5dc388482dbcd0d07fb1cc7acc~mv2.jpg/v1/fill/w_298,h_618,al_c,q_80,usm_0.66_1.00_0.01/bc018e_6a9c3b5dc388482dbcd0d07fb1cc7acc~mv2.webp);
    background-size: cover;
    width: 25%;
}

section.works div.content span{
    width: 50px;
    display: block;
    background-color: red;
    margin-top: 50px;
    margin-bottom: 10px;
}
section.works div.content span img{}
section.works div.content h4{
    border-top: 2px solid #fff;
    padding: 10px 0px;
    font-weight: 600;
}
section.works div.content p{}

section.choose{
    margin:100px 0;
    text-align: center;
    text-transform: capitalize;
}
section.choose div.content{
    width: 60%;
    margin: 0 auto;

}
section.choose ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section.choose ul li{
    width: 20%;
    margin: 50px;
    padding: 20px;
    margin-bottom: 0;
    border-top: 2px solid black;
}